@media print {
  @page {
    margin: 0;
    size: 80mm auto;
  }

  body * {
    visibility: hidden !important;
  }

  #receipt-content,
  #receipt-content *,
  #sticker-content,
  #sticker-content * {
    visibility: visible !important;
  }

  #receipt-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
  }

  #sticker-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 50mm;
  }
}

@media screen {
  .print-only {
    display: none;
  }
}
